@using MyWebApp.Core.Model.ViewModels.Parameter;
@using MyWebApp.Core.Utility;
@model ParameterViewModel
@{
    int i = 0;
}

<form method="post" class="row g-3">
    <div class="form-group">
        <div class="col-md-10">

            <button id="btnSave"
                    type="button"
                    class="btn btn-primary rounded-pill"
                    onclick="SaveDataTable('tbSearh', '@Url.Content(Constants.urlAction.ParameterSave)')">
                Save
            </button>
            <a class="btn btn-secondary rounded-pill"
               onclick="BindData('Reset')">
                Reset
            </a>
            <a class="btn btn-success rounded-pill"
               onclick="BindData('Default')">
                Default
            </a>
        </div>
    </div>
    <table data-toggle="table" data-striped="true" id="tbSearh" class="datatable table table-hover">
        <thead style="text-align: center">
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-2">Value</th>
                <th class="col-md-5">Description</th>
            </tr>
        </thead>
        <tbody id="tbdSearchResult">
            @if (Model.ParameterList.Count > 0)
            {
                foreach (var result in Model.ParameterList)
                {
                    <tr>
                        <td class="col-md-3">
                            <div hidden="hidden">
                                @Html.TextBox("Para[" + @i + "].PARA_CODE", result.PARA_CODE, new { @class = "form-control"})
                            </div>
                            @result.PARA_NAME
                        </td>
                        <td class="col-md-2" style="text-align:right">
                            @Html.TextBox("Para[" + @i + "].PARA_VALUE", result.PARA_VALUE, new { @class = "form-control", @required = "required", @MaxLength = "20" })
                        </td>
                        <td class="col-md-5">
                            @result.PARA_DESC
                        </td>
                    </tr>
                    <div hidden="hidden">
                        @(++i)
                    </div>
                }
            }
        </tbody>
    </table>
</form>
